.elem {
  text-align: center;
  border-style: solid;
  border-color: rgb(218, 208, 210);
  width:  50%;
  padding-top: 60px;
  border-radius: 20px;
  box-shadow:  ;
  
}




.App {

  background-color: #01960e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
